/* Search "||" to jump sections. Page styling / imports / constants */
@import url("meyer_reset.css");

:root {
    --app-light-gray: #D3D3D3;
    --app-dark-gray: rgb(110, 108, 110);
}

html, body {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
}

/* Image Processor Styling */
.color-extractor-wrapper {
    height: 500px;
    width: 400px;
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--app-light-gray);
}

#app-title {
    padding: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.picture-bin {
    width: 80%;
    height: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border: 1px solid black;
    border-radius: 25px;
}


.image {
    width: 100%;
    height: auto;
    border-radius: 25px;
}

