/* Search "||" to jump sections. Page styling / imports / constants */
@import url("meyer_reset.css");

:root {
    --app-light-gray: #E2E8F0;
    --app-medium-gray: #94A3B8;
    --app-dark-gray: #6B7280;
}

html, body {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Image Processor Styling */
.color-extractor-wrapper {
    height: 500px;
    width: 400px;
    border-radius: 25px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--app-medium-gray);
}

#app-title {
    padding: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.picture-bin {
    border-radius: 25px;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 25px;
}

/* || Color scroller styling */
.color-scroller {
    margin-top: 50px;
    padding: 15px;   

    width: 80%;
    height: auto;

    overflow: auto;
    white-space: nowrap;

    background-color: var(--app-light-gray);
    border: 2px solid var(--app-dark-gray);
    border-radius: 5px;
}

.color-scroller > * {
    display: inline-block;
    border: 2px solid var(--app-medium-gray);
    border-radius: 5px;

    width: 50px;
    height: 50px;
}
